<!DOCTYPE html>
<html style="overflow-x:hidden;">
  <head>
     <title>CarePackages4U | About Us</title>
     <!--Icon of the website-->
	<link rel="icon" href="static/images/logo.png">
    <!--^^^-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
    <body style="overflow-x:hidden;">
      <div class="headerimage">
    <img class="himage" src="{{ url_for('static', filename='images/headerimage.png') }}">
    </div>
 <nav>
      <ul class="Navbar">
        <li><a href="/index.html">View Listings</a></li>
        <li><a href="/Create.html">Create a list</a></li>
        <li class="Rightnow"><a href="/About.html">About</a></li>
        <li><a href="/FAQ.html">FAQ</a></li>
      </ul>
</nav>
 <div class="backbutton">
      <a href="/index.html"> <img class="backbuttonimg" src="{{ url_for('static', filename='images/arrow.png') }}"></a>
      <span class="tooltip">View Listings!</span>
  </div>
<div class="aboutpage">
<p class="aboutQuestions"><br><br>This website was created by Donald, Victor, Leo, and Angela during XDHacks Mini-Covid 2020 from June 6th-June 7th. <br> <br>
<p class="aboutdes"> <strong>CarePackages4U</strong> is a web application that allows people who are unable to leave their houses to request their needs in a list. <strong>Local volunteers, food banks, or charities</strong> can then view their list in the homepage, contact them, then set up a plan for delivering the supplies they need.
</p>
<p class="aboutdes">This benefits those who are <strong>immunocompromised</strong> or those who are unable to leave their house easily for the sake of health and safety; this includes the <strong>elderly, those with respiratory illnesses, or people showing COVID-19 symptoms. </strong>
</p>
<p class="aboutdes"><strong>Donors:</strong></br>
Donors can browse listings (or search in the search bar for listings containing keywords) and provide aid to those that are in the same area as them. They will click on the appropriate listing, and take note of important info, such as phone number and items on the list. They will then gather those items when it is best to do so, and deliver it to their house.
</p>
<p class="aboutdes"><strong>For those requesting supplies:</strong></br>
On the website navigator, those who need aid can click “create a list” and fill out the requirements. Once they click to submit, the information they entered  will be inputted into a database, and a listing will be posted on the web app. 10 days after the initial posting, the list will be deleted, as well as its corresponding information from the database.
</p>
<p class="aboutdes">
<br> 
<strong>Thank You!</strong>
<br><br>
<p>

</div>
<section>
</section>
<footer>
  <h3 style="color:white;">XD HACKS - Team Ambition</h3>
  <p style="color:white;">By: Donald, Victor, Leo, and Angela</p>
</footer>
</body>