<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/createlist.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
    <body>
 <nav>
      <ul class="Navbar">
        <li><a href="index.html">View Listings</a></li>
        <li class="Rightnow"><a href="Create.html">Create a list</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="FAQ.html">FAQ</a></li>
      </ul>
</nav>
<section>
  <form>
    <div class="left">
        <label for="list">My List:</label></br>
        <input class="listbox" type="text" id="list" name="list" placeholder="Example: eggs, carrot, ham, whole wheat bread, butter, etc."></input></br>
    </div>
    <div class="right">
     <label class="name" for="Name">Name:</label>
      <input type="text" id="Name" name="Name" placeholder="Example: Bill Smith"></input></br>
      <label for="Age">Age:</label>
      <input type="number" id="Age" name="Age" placeholder="Example: 79"></input></br>
      <label for="Email">Email:</label>
      <input type="email" id="Email" name="Email" placeholder="Example: someone123.gmail.com"></input></br>
      <label for="tel">Number:</label>
      <input type="tel" id="tel" name="tel" placeholder="Example: 604-111-199"></input></br>
      <label for="City">City:</label>
      <input type="text" id="City" name="City" placeholder="Example: Vancouver, BC"></input></br>
      <label for="Category">Category:</label>
      <input type="text" id="Category" name="Category" placeholder="Example: Food"></input></br>
      <label for="Aboutme">About me:</label></br>
      <input class="ambox" type="text" id="Aboutme" name="Aboutme" placeholder="Write a short summary about yourself!"></input>
    </div>
  </form>
  <button div class="postbutton"><p class="Posttext">Post!</p></button>
</section>
<footer>
<h3>XD HACKS - Team Ambition</h3>
  <p>By: Donald, Victor, Leo, Angela, and Jason</p>
</footer>
</body>