<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
    <body>
 <nav>
      <ul class="Navbar">
        <li><a href="index.html">View Listings</a></li>
        <li><a href="Create.html">Create a list</a></li>
        <li><a href="About.html">About</a></li>
        <li class="Rightnow"><a href="FAQ.html">FAQ</a></li>
      </ul>
</nav>
<p style="font-weight: bold;" style="text-align:center;">Which locations does your app work?</p>
<p> -- Our app is intended for the Lower Mainland. However, we are always looking for ways to expand<p>

<p style="font-weight: bold;">How will I be able to pick up groceries?</p>
<p> -- Volunteers will pick up your groceries and call you once they arrive at your home.<p>
<p style="font-weight: bold;">How will you drop off the groceries?</p>
<p>-- The volunteer will call you and arrange for delivery<p>
<footer>
<h3>XD HACKS - Team Ambition</h3>
  <p>By: Donald, Victor, Leo, Angela, and Jason</p>
</footer>
</body>