<!DOCTYPE html>
<html>
  <head>
     <title>CarePackages4U | FAQ</title>
     <!--Icon of the website-->
	<link rel="icon" href="static/images/logo.png">
    <!--^^^-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
    <body>
<div class="headerimage">
    <img class="himage" src="{{ url_for('static', filename='images/headerimage.png') }}">
    </div>
 <nav>
      <ul class="Navbar">
        <li><a href="/index.html">View Listings</a></li>
        <li><a href="/Create.html">Create a list</a></li>
        <li><a href="/About.html">About</a></li>
        <li class="Rightnow"><a href="/FAQ.html">FAQ</a></li>
      </ul>
</nav>
 <div class="backbutton">
       <a href="/index.html"><img class="backbuttonimg" src="{{ url_for('static', filename='images/arrow.png') }}"></a>
      <span class="tooltip">View Listings!</span>
  </div>
<h1 class="FAQHead">Frequently Asked Questions:</h1>
<p class="questions">Which locations does your app work?</p>
<p class="answers"> -- Our site is intended for use throughout Canada. However, we are always looking for ways to expand<p>

<p class="questions">How do I get my items?</p>
<p class="answers"> -- Donors will first contact you through your email or by phone and arrange a delivery date with you.<p>
<p class="questions">What if no one accepts my request?</p>
<p class="answers">-- If no one accepts your request, you can simply create a new listing.</p>
<p class="questions">How can I protect myself from scams?</p>
<p class="answers"> -- Beware: Do not accept any aid from anyone demanding for payment! This is most likely a scam. Also check out the <a target="_blank" href="https://antifraudcentre-centreantifraude.ca/features-vedette/2020/covid-19-eng.htm">Government of Canada's</a> website to find out more about recent scams. <p>
<p class="questions">How long until I can expect my delivery?</p>
<p class="answers">-- You can expect to recieve your goods within 10 days.</p>
</br>
<footer>
  <h3 style="color:white;">XD HACKS - Team Ambition</h3>
  <p style="color:white;">By: Donald, Victor, Leo, and Angela</p>
</footer>
</body>