<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CarePackages4U | Listings</title>
    <!--Icon of the website-->
	<link rel="icon" href="static/images/logo.png">
    <!--^^^-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- <script src="script.js"></script> -->
    <div class="headerimage">
    	<img class="himage" src="{{ url_for('static', filename='images/headerimage.png') }}">
    </div>
    </header>
    <nav>
      <ul class="Navbar">
        <li class="Rightnow"><a href="/index.html">Listings</a></li>
        <li><a href="/Create.html">Create a list</a></li>
        <li><a href="/About.html">About</a></li>
        <li><a href="/FAQ.html">FAQ</a></li>
      </ul>
    </nav>

	<div class="flash_msg">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<h1 class="msg">{{message}}</h1>
			{% endfor %}
		{% endif %}
	{% endwith %}
	</div>
	<h1 class="PINOS">People in need of supplies:</h1>
    <section class="container">
      <!--When adding a new listing, this is the format
       <div class="listings">
          <p class="ListingText">Name:John Aveeno</p>
          <p class="ListingText">Catagory:Food</p>
          <p class="ListingText">Area: Vancouver</p>
      </div>
      -->
	{% for i in range(len) %}
		<a class="ListingText" href="/Listing.html/{{posts[i].id}}">
        	<div class="listings">
            <p class="ListingText">Name: {{ posts[i].name }}</p>
            <p class="ListingText">Category: {{ posts[i].category }}</p>
            <p class="ListingText">Area: {{ posts[i].city }}</p>
             <p class="bio">About me: {{ posts[i].about }}</p>
            <div class="arrowtip">
            <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
            <span class="tooltip">View Full Listing!</span>
            </div>
        	</div>
      	</a>

	{% endfor %}
      <!-- <a class="ListingText" href="/Listing.html">
        <div class="listings">
            <p class="ListingText">Name: John Doe</p>
            <p class="ListingText">Category: Grocery</p>
            <p class="ListingText">Area: Ottawa</p>
            <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
        </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Bob Chungus</p>
          <p class="ListingText">Category: Toiletries</p>
          <p class="ListingText">Area: Vancouver</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Kevin Chun</p>
          <p class="ListingText">Category: Drinks</p>
          <p class="ListingText">Area: Burnaby</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Louis Mace</p>
          <p class="ListingText">Category: Toiletries</p>
          <p class="ListingText">Area: Vancouver</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Rachel Wood</p>
          <p class="ListingText">Category: Toiletries</p>
          <p class="ListingText">Area: Vancouver</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Ash Load</p>
          <p class="ListingText">Category: Groceries</p>
          <p class="ListingText">Area: Vancouver</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Ash Load</p>
          <p class="ListingText">Category: Groceries</p>
          <p class="ListingText">Area: Vancouver</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a>
      <a class="ListingText" href="/Listing.html">
      <div class="listings">
        <p class="ListingText">Name: Ash Load</p>
          <p class="ListingText">Category: Groceries</p>
          <p class="ListingText">Area: Vancouver</p>
          <img class="arrow" src="{{ url_for('static', filename='images/arrow.png') }}">
      </div>
      </a> -->
    
    </section>
    <footer>
        <h3 style="color:white;">XD HACKS - Team Ambition</h3>
        <p style="color:white;">By: Donald, Victor, Leo, and Angela</p>
    </footer>
  </body>
</html>
